In [49]:
from bs4 import BeautifulSoup
import requests
import time
import os
import csv
import pandas as pd
import numpy as np

def single_query(link, payload):
  response = requests.get(link, params=payload)
  if response.status_code != 200:
      print('WARNING', response.status_code)
  else:
      return response.json()

import time
page=0
for i in range(2):

    time.sleep(3)
    link = 'http://api.nytimes.com/svc/search/v2/articlesearch.json'
    payload = {'api-key': os.environ['NYT_API_KEY'],
            'begin_date': '20160707',
            'page': 0+page}
    html_str = single_query(link, payload)
    get_articles_from_page(tab, html_str)
    page+=1
    
    
cwd = os.getcwd() ##gets current working directory
with open(cwd + '/data/ebay_shoes.html') as r:
    soup = BeautifulSoup(r, 'html.parser')

In [12]:
def single_query(link):
    response = requests.get(link)
    if response.status_code != 200:
        print(time.time())
        print('WARNING', response.status_code)
    else:
        return response.json()

In [ ]:
#while True:
    link = ''  ## enter bikeshare data link here
    contents = single_query(link)
    with open('', mode='a') as file:
        file.write(contents)
    
    
    
    time.sleep(60)

In [42]:
link = 'https://sc.jumpbikes.com/opendata/free_bike_status.json'  ## enter bikeshare data link here
contents = single_query(link)

In [32]:
response = requests.get(link)
df = pd.read_json('https://sc.jumpbikes.com/opendata/free_bike_status.json')

In [43]:
df = pd.DataFrame.from_dict(contents['data']['bikes'])

In [44]:
df['datetime'] = contents['last_updated']

In [84]:
df.head()

,bike_id,is_disabled,is_reserved,jump_ebike_battery_level,lat,lon,name,datetime
0,bike_20803,0,0,77%,36.953217,-122.039740,0966,1540102412
1,bike_20799,0,0,55%,36.988575,-122.018083,0958,1540102412
2,bike_20796,0,0,58%,36.977508,-121.971137,0898,1540102412
3,bike_20662,0,0,45%,36.972365,-122.019225,1388,1540102412
4,bike_20665,0,0,52%,36.950002,-122.054582,0904,1540102412

In [57]:
with open('bike_test.csv', mode='w') as file:
    file.write(df.to_csv())

In [58]:
with open('bike_test.csv', mode='a') as file:
    file.write(df.to_csv(header=False))

In [53]:
f = np.array(df)

In [56]:
with open('bike_test.csv', mode='a') as file:
    f.tofile(file, sep=",")

In [60]:
csv_load = pd.read_csv('bike_test.csv')

In [63]:
csv_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
Unnamed: 0                  180 non-null int64
bike_id                     180 non-null object
is_disabled                 180 non-null int64
is_reserved                 180 non-null int64
jump_ebike_battery_level    180 non-null object
lat                         180 non-null float64
lon                         180 non-null float64
name                        180 non-null int64
datetime                    180 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 12.7+ KB

In [64]:
csv_load.head()

,Unnamed: 0,bike_id,is_disabled,is_reserved,jump_ebike_battery_level,lat,lon,name,datetime
0,0,bike_20803,0,0,77%,36.953217,-122.039740,966,1540102412
1,1,bike_20799,0,0,55%,36.988575,-122.018083,958,1540102412
2,2,bike_20796,0,0,58%,36.977508,-121.971137,898,1540102412
3,3,bike_20662,0,0,45%,36.972365,-122.019225,1388,1540102412
4,4,bike_20665,0,0,52%,36.950002,-122.054582,904,1540102412

In [82]:
j = pd.DataFrame(contents['data']['bikes'])

In [85]:
j['datetime'] = contents['last_updated']

In [86]:
with open('bike_test.csv', mode='a') as file:
    file.write(j.to_csv(header=False))

In [90]:
time.time()

1540149966.792733