In [1]:
from bs4 import BeautifulSoup
import requests
import time
import os
import csv
import pandas as pd
import numpy as np

def single_query(link, payload):
  response = requests.get(link, params=payload)
  if response.status_code != 200:
      print('WARNING', response.status_code)
  else:
      return response.json()

import time
page=0
for i in range(2):

    time.sleep(3)
    link = 'http://api.nytimes.com/svc/search/v2/articlesearch.json'
    payload = {'api-key': os.environ['NYT_API_KEY'],
            'begin_date': '20160707',
            'page': 0+page}
    html_str = single_query(link, payload)
    get_articles_from_page(tab, html_str)
    page+=1
    
    
cwd = os.getcwd() ##gets current working directory
with open(cwd + '/data/ebay_shoes.html') as r:
    soup = BeautifulSoup(r, 'html.parser')

In [2]:
def single_query(link):
    response = requests.get(link)
    if response.status_code != 200:
        print(time.time())
        print('WARNING', response.status_code)
    else:
        return response.json()

In [ ]:
#while True:
    link = ''  ## enter bikeshare data link here
    contents = single_query(link)
    with open('', mode='a') as file:
        file.write(contents)
    
    
    
    time.sleep(60)

In [3]:
link = 'https://sc.jumpbikes.com/opendata/free_bike_status.json'  ## enter bikeshare data link here
contents = single_query(link)

In [14]:
if 'station' in link:
    print('yes')

In [9]:
bike_data = pd.DataFrame(contents['data'])

In [10]:
bike_data

                                                 bikes
0    {'bike_id': 'bike_20631', 'name': '0907', 'lon...
1    {'bike_id': 'bike_23375', 'name': '1556', 'lon...
2    {'bike_id': 'bike_23338', 'name': '1393', 'lon...
3    {'bike_id': 'bike_23330', 'name': '1473', 'lon...
4    {'bike_id': 'bike_20766', 'name': '0951', 'lon...
5    {'bike_id': 'bike_20800', 'name': '0960', 'lon...
6    {'bike_id': 'bike_21224', 'name': '0995', 'lon...
7    {'bike_id': 'bike_20803', 'name': '0966', 'lon...
8    {'bike_id': 'bike_20789', 'name': '0886', 'lon...
9    {'bike_id': 'bike_23314', 'name': '1525', 'lon...
10   {'bike_id': 'bike_20843', 'name': '0899', 'lon...
11   {'bike_id': 'bike_21402', 'name': '1292', 'lon...
12   {'bike_id': 'bike_21193', 'name': '0859', 'lon...
13   {'bike_id': 'bike_23354', 'name': '1544', 'lon...
14   {'bike_id': 'bike_21225', 'name': '1251', 'lon...
15   {'bike_id': 'bike_23308', 'name': '1474', 'lon...
16   {'bike_id': 'bike_20779', 'name': '0864', 'lon...
17   {'bike_id': 'bike_21191', 'name': '0918', 'lon...
18   {'bike_id': 'bike_23320', 'name': '1370', 'lon...
19   {'bike_id': 'bike_20651', 'name': '0943', 'lon...
20   {'bike_id': 'bike_23299', 'name': '1401', 'lon...
21   {'bike_id': 'bike_23316', 'name': '1492', 'lon...
22   {'bike_id': 'bike_23347', 'name': '1554', 'lon...
23   {'bike_id': 'bike_23377', 'name': '1280', 'lon...
24   {'bike_id': 'bike_23310', 'name': '1364', 'lon...
25   {'bike_id': 'bike_20645', 'name': '0936', 'lon...
26   {'bike_id': 'bike_20807', 'name': '1354', 'lon...
27   {'bike_id': 'bike_21417', 'name': '1365', 'lon...
28   {'bike_id': 'bike_21180', 'name': '1261', 'lon...
29   {'bike_id': 'bike_21408', 'name': '1333', 'lon...
..                                                 ...
77   {'bike_id': 'bike_21272', 'name': '0977', 'lon...
78   {'bike_id': 'bike_21271', 'name': '1265', 'lon...
79   {'bike_id': 'bike_23269', 'name': '1355', 'lon...
80   {'bike_id': 'bike_20772', 'name': '0970', 'lon...
81   {'bike_id': 'bike_23305', 'name': '1400', 'lon...
82   {'bike_id': 'bike_23342', 'name': '1394', 'lon...
83   {'bike_id': 'bike_20647', 'name': '0938', 'lon...
84   {'bike_id': 'bike_20790', 'name': '0887', 'lon...
85   {'bike_id': 'bike_20767', 'name': '0956', 'lon...
86   {'bike_id': 'bike_23313', 'name': '1296', 'lon...
87   {'bike_id': 'bike_20801', 'name': '1590', 'lon...
88   {'bike_id': 'bike_21411', 'name': '1341', 'lon...
89   {'bike_id': 'bike_23344', 'name': '1574', 'lon...
90   {'bike_id': 'bike_21410', 'name': '1339', 'lon...
91   {'bike_id': 'bike_21188', 'name': '1315', 'lon...
92   {'bike_id': 'bike_21182', 'name': '1263', 'lon...
93   {'bike_id': 'bike_23281', 'name': '1285', 'lon...
94   {'bike_id': 'bike_23357', 'name': '1466', 'lon...
95   {'bike_id': 'bike_23304', 'name': '1398', 'lon...
96   {'bike_id': 'bike_20793', 'name': '0892', 'lon...
97   {'bike_id': 'bike_23296', 'name': '1479', 'lon...
98   {'bike_id': 'bike_21174', 'name': '0987', 'lon...
99   {'bike_id': 'bike_23378', 'name': '0906', 'lon...
100  {'bike_id': 'bike_23326', 'name': '1299', 'lon...
101  {'bike_id': 'bike_23287', 'name': '1344', 'lon...
102  {'bike_id': 'bike_23323', 'name': '1557', 'lon...
103  {'bike_id': 'bike_21406', 'name': '1301', 'lon...
104  {'bike_id': 'bike_21405', 'name': '1300', 'lon...
105  {'bike_id': 'bike_23324', 'name': '1551', 'lon...
106  {'bike_id': 'bike_20841', 'name': '0954', 'lon...

[107 rows x 1 columns]

In [32]:
response = requests.get(link)
df = pd.read_json('https://sc.jumpbikes.com/opendata/free_bike_status.json')

In [43]:
df = pd.DataFrame.from_dict(contents['data']['bikes'])

In [44]:
df['datetime'] = contents['last_updated']

In [84]:
df.head()

,bike_id,is_disabled,is_reserved,jump_ebike_battery_level,lat,lon,name,datetime
0,bike_20803,0,0,77%,36.953217,-122.039740,0966,1540102412
1,bike_20799,0,0,55%,36.988575,-122.018083,0958,1540102412
2,bike_20796,0,0,58%,36.977508,-121.971137,0898,1540102412
3,bike_20662,0,0,45%,36.972365,-122.019225,1388,1540102412
4,bike_20665,0,0,52%,36.950002,-122.054582,0904,1540102412

In [57]:
with open('bike_test.csv', mode='w') as file:
    file.write(df.to_csv())

In [58]:
with open('bike_test.csv', mode='a') as file:
    file.write(df.to_csv(header=False))

In [53]:
f = np.array(df)

In [56]:
with open('bike_test.csv', mode='a') as file:
    f.tofile(file, sep=",")

In [60]:
csv_load = pd.read_csv('bike_test.csv')

In [63]:
csv_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
Unnamed: 0                  180 non-null int64
bike_id                     180 non-null object
is_disabled                 180 non-null int64
is_reserved                 180 non-null int64
jump_ebike_battery_level    180 non-null object
lat                         180 non-null float64
lon                         180 non-null float64
name                        180 non-null int64
datetime                    180 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 12.7+ KB

In [64]:
csv_load.head()

,Unnamed: 0,bike_id,is_disabled,is_reserved,jump_ebike_battery_level,lat,lon,name,datetime
0,0,bike_20803,0,0,77%,36.953217,-122.039740,966,1540102412
1,1,bike_20799,0,0,55%,36.988575,-122.018083,958,1540102412
2,2,bike_20796,0,0,58%,36.977508,-121.971137,898,1540102412
3,3,bike_20662,0,0,45%,36.972365,-122.019225,1388,1540102412
4,4,bike_20665,0,0,52%,36.950002,-122.054582,904,1540102412

In [82]:
j = pd.DataFrame(contents['data']['bikes'])

In [85]:
j['datetime'] = contents['last_updated']

In [86]:
with open('bike_test.csv', mode='a') as file:
    file.write(j.to_csv(header=False))

In [90]:
time.time()

1540149966.792733