In [1]:
import featurization
import helpers

import pandas as pd
import geopandas
import matplotlib.pyplot as plt

import contextily as ctx
from shapely.geometry import Point, Polygon

%load_ext autoreload
%autoreload 2

In [205]:
import numpy as np
import datetime

In [113]:
geodf = featurization.all_featurization("all-sc-bike-data-1101.csv")

In [114]:
geodf = featurization.add_zoning(geodf, 'Zoning')

In [115]:
geodf.head()

,bike_id,lat,lon,idle_time,batt_start,batt_end,utc_time_start,utc_time_end,local_time_start,day_of_week,gets_pickedup_charged,gets_pickedup_not_charged,in_charger,next_action,geolocation,ZONING
58,bike_20631,36.98725,-122.03416,00:47:18,94,94,2018-10-23 19:26:39+00:00,2018-10-23 20:13:57+00:00,2018-10-23 12:26:39-07:00,1,False,False,False,rented,POINT (-122.03416 36.98725),IG
59,bike_20631,36.98733,-122.03417,00:51:33,96,96,2018-10-23 20:28:01+00:00,2018-10-23 21:19:34+00:00,2018-10-23 13:28:01-07:00,1,False,False,False,rented,POINT (-122.03417 36.98733),IG
39,bike_20631,36.97425,-122.02437,00:05:13,93,93,2018-10-23 21:37:55+00:00,2018-10-23 21:43:08+00:00,2018-10-23 14:37:55-07:00,1,False,False,False,rented,POINT (-122.02437 36.97425),CBD
14,bike_20631,36.96690,-122.04056,02:13:47,49,49,2018-10-25 01:11:07+00:00,2018-10-25 03:24:54+00:00,2018-10-24 18:11:07-07:00,2,False,False,False,rented,POINT (-122.04056 36.9669),CC
43,bike_20631,36.97576,-122.02842,00:15:05,42,42,2018-10-25 03:44:59+00:00,2018-10-25 04:00:04+00:00,2018-10-24 20:44:59-07:00,2,False,False,False,rented,POINT (-122.02842 36.97576),CBD

In [105]:
import fiona
fiona.listlayers('ACS_2016_5YR_BG_06_CALIFORNIA.gdb')

['X00_COUNTS',
 'X01_AGE_AND_SEX',
 'X02_RACE',
 'X03_HISPANIC_OR_LATINO_ORIGIN',
 'X07_MIGRATION',
 'X08_COMMUTING',
 'X09_CHILDREN_HOUSEHOLD_RELATIONSHIP',
 'X11_HOUSEHOLD_FAMILY_SUBFAMILIES',
 'X12_MARITAL_STATUS_AND_HISTORY',
 'X14_SCHOOL_ENROLLMENT',
 'X15_EDUCATIONAL_ATTAINMENT',
 'X16_LANGUAGE_SPOKEN_AT_HOME',
 'X17_POVERTY',
 'X19_INCOME',
 'X20_EARNINGS',
 'X21_VETERAN_STATUS',
 'X22_FOOD_STAMPS',
 'X23_EMPLOYMENT_STATUS',
 'X24_INDUSTRY_OCCUPATION',
 'X25_HOUSING_CHARACTERISTICS',
 'X27_HEALTH_INSURANCE',
 'X99_IMPUTATION',
 'BG_METADATA_2016',
 'ACS_2016_5YR_BG_06_CALIFORNIA']

In [106]:
layers = fiona.listlayers('ACS_2016_5YR_BG_06_CALIFORNIA.gdb')

In [116]:
b = geopandas.read_file('tl_2016_06_bg')

In [117]:
b.crs = {'init':'epsg:4269'}

In [118]:
b.crs

{'init': 'epsg:4269'}

In [119]:
b.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,025,940000,3,060259400003,Block Group 3,G5030,S,12266417,680361,+32.7424027,-114.6675664,"POLYGON ((-114.726531 32.718236, -114.726392 3..."
1,06,025,010800,2,060250108002,Block Group 2,G5030,S,59331725,0,+32.7658550,-115.3923892,"POLYGON ((-115.430817 32.730903, -115.430817 3..."
2,06,025,010800,1,060250108001,Block Group 1,G5030,S,230656791,0,+32.8363463,-115.3514134,"POLYGON ((-115.457835 32.908953, -115.457726 3..."
3,06,025,011100,3,060250111003,Block Group 3,G5030,S,1209336,0,+32.7932442,-115.6903925,"POLYGON ((-115.701342 32.790854, -115.70091 32..."
4,06,073,010013,2,060730100132,Block Group 2,G5030,S,404606,0,+32.5564082,-117.0507980,"POLYGON ((-117.054301 32.555424, -117.054296 3..."

In [120]:
blockgroupdf = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer='ACS_2016_5YR_BG_06_CALIFORNIA')

In [112]:
# for l in layers:
#     blockgroupdf = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer=l)
#     print(l)
#     print (blockgroupdf.columns)

X00_COUNTS
Index(['GEOID', 'B00001e1', 'B00001m1', 'B00002e1', 'B00002m1', 'geometry'], dtype='object')
X01_AGE_AND_SEX
Index(['GEOID', 'B01001e1', 'B01001m1', 'B01001e2', 'B01001m2', 'B01001e3',
       'B01001m3', 'B01001e4', 'B01001m4', 'B01001e5',
       ...
       'B01002Hm3', 'B01002Ie1', 'B01002Im1', 'B01002Ie2', 'B01002Im2',
       'B01002Ie3', 'B01002Im3', 'B01003e1', 'B01003m1', 'geometry'],
      dtype='object', length=162)
X02_RACE
Index(['GEOID', 'B02001e1', 'B02001m1', 'B02001e2', 'B02001m2', 'B02001e3',
       'B02001m3', 'B02001e4', 'B02001m4', 'B02001e5', 'B02001m5', 'B02001e6',
       'B02001m6', 'B02001e7', 'B02001m7', 'B02001e8', 'B02001m8', 'B02001e9',
       'B02001m9', 'B02001e10', 'B02001m10', 'B02008e1', 'B02008m1',
       'B02009e1', 'B02009m1', 'B02010e1', 'B02010m1', 'B02011e1', 'B02011m1',
       'B02012e1', 'B02012m1', 'B02013e1', 'B02013m1', 'C02003e1', 'C02003m1',
       'C02003e2', 'C02003m2', 'C02003e3', 'C02003m3', 'C02003e4', 'C02003m4',
       'C02003e5', 'C02003m5', 'C02003e6', 'C02003m6', 'C02003e7', 'C02003m7',
       'C02003e8', 'C02003m8', 'C02003e9', 'C02003m9', 'C02003e10',
       'C02003m10', 'C02003e11', 'C02003m11', 'C02003e12', 'C02003m12',
       'C02003e13', 'C02003m13', 'C02003e14', 'C02003m14', 'C02003e15',
       'C02003m15', 'C02003e16', 'C02003m16', 'C02003e17', 'C02003m17',
       'C02003e18', 'C02003m18', 'C02003e19', 'C02003m19', 'geometry'],
      dtype='object')
X03_HISPANIC_OR_LATINO_ORIGIN
Index(['GEOID', 'B03002e1', 'B03002m1', 'B03002e2', 'B03002m2', 'B03002e3',
       'B03002m3', 'B03002e4', 'B03002m4', 'B03002e5', 'B03002m5', 'B03002e6',
       'B03002m6', 'B03002e7', 'B03002m7', 'B03002e8', 'B03002m8', 'B03002e9',
       'B03002m9', 'B03002e10', 'B03002m10', 'B03002e11', 'B03002m11',
       'B03002e12', 'B03002m12', 'B03002e13', 'B03002m13', 'B03002e14',
       'B03002m14', 'B03002e15', 'B03002m15', 'B03002e16', 'B03002m16',
       'B03002e17', 'B03002m17', 'B03002e18', 'B03002m18', 'B03002e19',
       'B03002m19', 'B03002e20', 'B03002m20', 'B03002e21', 'B03002m21',
       'B03003e1', 'B03003m1', 'B03003e2', 'B03003m2', 'B03003e3', 'B03003m3',
       'geometry'],
      dtype='object')
X07_MIGRATION
Index(['GEOID', 'B07201e1', 'B07201m1', 'B07201e2', 'B07201m2', 'B07201e3',
       'B07201m3', 'B07201e4', 'B07201m4', 'B07201e5',
       ...
       'B07203PRm4', 'B07203PRe5', 'B07203PRm5', 'B07203PRe6', 'B07203PRm6',
       'B07203PRe7', 'B07203PRm7', 'B07203PRe8', 'B07203PRm8', 'geometry'],
      dtype='object', length=162)
X08_COMMUTING
Index(['GEOID', 'B08007e1', 'B08007m1', 'B08007e2', 'B08007m2', 'B08007e3',
       'B08007m3', 'B08007e4', 'B08007m4', 'B08007e5',
       ...
       'B08303m9', 'B08303e10', 'B08303m10', 'B08303e11', 'B08303m11',
       'B08303e12', 'B08303m12', 'B08303e13', 'B08303m13', 'geometry'],
      dtype='object', length=582)
X09_CHILDREN_HOUSEHOLD_RELATIONSHIP
Index(['GEOID', 'B09002e1', 'B09002m1', 'B09002e2', 'B09002m2', 'B09002e3',
       'B09002m3', 'B09002e4', 'B09002m4', 'B09002e5',
       ...
       'B09021m24', 'B09021e25', 'B09021m25', 'B09021e26', 'B09021m26',
       'B09021e27', 'B09021m27', 'B09021e28', 'B09021m28', 'geometry'],
      dtype='object', length=232)
X11_HOUSEHOLD_FAMILY_SUBFAMILIES
Index(['GEOID', 'B11001e1', 'B11001m1', 'B11001e2', 'B11001m2', 'B11001e3',
       'B11001m3', 'B11001e4', 'B11001m4', 'B11001e5',
       ...
       'B11016m12', 'B11016e13', 'B11016m13', 'B11016e14', 'B11016m14',
       'B11016e15', 'B11016m15', 'B11016e16', 'B11016m16', 'geometry'],
      dtype='object', length=630)
X12_MARITAL_STATUS_AND_HISTORY
Index(['GEOID', 'B12001e1', 'B12001m1', 'B12001e2', 'B12001m2', 'B12001e3',
       'B12001m3', 'B12001e4', 'B12001m4', 'B12001e5', 'B12001m5', 'B12001e6',
       'B12001m6', 'B12001e7', 'B12001m7', 'B12001e8', 'B12001m8', 'B12001e9',
       'B12001m9', 'B12001e10', 'B12001m10', 'B12001e11', 'B12001m11',
       'B12001e12', 'B12001m12', 'B12001e13', 'B12001m13', 'B12001e14',
       'B12001m14', 'B12001e15', 'B12001m15', 'B12001e16', 'B12001m16',
       'B12001e17', 'B12001m17', 'B12001e18', 'B12001m18', 'B12001e19',
       'B12001m19', 'geometry'],
      dtype='object')
X14_SCHOOL_ENROLLMENT
Index(['GEOID', 'B14002e1', 'B14002m1', 'B14002e2', 'B14002m2', 'B14002e3',
       'B14002m3', 'B14002e4', 'B14002m4', 'B14002e5',
       ...
       'B14007Im15', 'B14007Ie16', 'B14007Im16', 'B14007Ie17', 'B14007Im17',
       'B14007Ie18', 'B14007Im18', 'B14007Ie19', 'B14007Im19', 'geometry'],
      dtype='object', length=538)

KeyboardInterrupt:

In [121]:
blockgroup_pop = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer='X00_COUNTS')

In [140]:
len(blockgroupdf.GEOID_Data.unique())

23212

In [123]:
blockgroup_pop.rename({'GEOID':'GEOID_Data'}, axis=1, inplace=True)

In [124]:
blockgroup_pop.head()

            GEOID_Data  B00001e1  B00001m1  B00002e1  B00002m1 geometry
0  15000US060014001001     324.0      -1.0     144.0      -1.0     None
1  15000US060014002001     184.0      -1.0      78.0      -1.0     None
2  15000US060014002002     138.0      -1.0      66.0      -1.0     None
3  15000US060014003001      69.0      -1.0      29.0      -1.0     None
4  15000US060014003002      89.0      -1.0      42.0      -1.0     None

In [125]:
b2 = b.merge(blockgroupdf[['GEOID', 'Shape_Area', 'GEOID_Data']], on="GEOID")

In [126]:
blockgroupdf = b2.merge(blockgroup_pop, on='GEOID_Data')

In [127]:
#blockgroupdf.drop(['B00001m1', 'B00002m1', 'geometry_y'], axis = 1, inplace=True)

In [128]:
blockgroupdf['pop_density'] = blockgroupdf['B00001e1']/blockgroupdf['Shape_Area']

In [129]:
blockgroupdf['people_per_house'] = blockgroupdf['B00001e1']/blockgroupdf['B00002e1']

In [256]:
blockgroupdf[blockgroupdf.GEOID_Data =='15000US060871004002'].plot()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,geometry_x,Shape_Area,GEOID_Data,B00001e1,B00001m1,B00002e1,B00002m1,geometry_y,pop_density,people_per_house
182,06,087,100400,2,060871004002,Block Group 2,G5030,S,932861,0,...,"POLYGON ((-122.055633 36.994549, -122.055617 3...",0.000094,15000US060871004002,255.0,-1.0,0.0,-1.0,None,2.700568e+06,inf

In [130]:
blockgroupdf.crs

{'init': 'epsg:4269'}

In [131]:
blockgroupdf_features = blockgroupdf[['GEOID_Data', 'geometry_x', 'pop_density', 'people_per_house']]

In [132]:
blockgroupdf_features = geopandas.GeoDataFrame(blockgroupdf_features, geometry = 'geometry_x', crs={'init': 'epsg:4269'})

In [133]:
blockgroupdf_features.crs

{'init': 'epsg:4269'}

In [134]:
blockgroupdf_features = blockgroupdf_features.to_crs(epsg='4326')

In [135]:
geodf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [136]:
geodf = geopandas.sjoin(geodf, blockgroupdf_features, how="left")

In [144]:
geodf.head()

,bike_id,lat,lon,idle_time,batt_start,batt_end,utc_time_start,utc_time_end,local_time_start,day_of_week,...,gets_pickedup_not_charged,in_charger,next_action,geolocation,ZONING,index_right,GEOID_Data,pop_density,people_per_house,time_of_day
58,bike_20631,36.98725,-122.03416,00:47:18,94,94,2018-10-23 19:26:39+00:00,2018-10-23 20:13:57+00:00,2018-10-23 12:26:39-07:00,1,...,False,False,rented,POINT (-122.03416 36.98725),IG,22602,15000US060871003001,3.369729e+05,3.000000,12
59,bike_20631,36.98733,-122.03417,00:51:33,96,96,2018-10-23 20:28:01+00:00,2018-10-23 21:19:34+00:00,2018-10-23 13:28:01-07:00,1,...,False,False,rented,POINT (-122.03417 36.98733),IG,22602,15000US060871003001,3.369729e+05,3.000000,13
39,bike_20631,36.97425,-122.02437,00:05:13,93,93,2018-10-23 21:37:55+00:00,2018-10-23 21:43:08+00:00,2018-10-23 14:37:55-07:00,1,...,False,False,rented,POINT (-122.02437 36.97425),CBD,11798,15000US060871007002,1.557911e+06,1.520000,14
14,bike_20631,36.96690,-122.04056,02:13:47,49,49,2018-10-25 01:11:07+00:00,2018-10-25 03:24:54+00:00,2018-10-24 18:11:07-07:00,2,...,False,False,rented,POINT (-122.04056 36.9669),CC,11788,15000US060871006001,2.925184e+06,2.518519,18
43,bike_20631,36.97576,-122.02842,00:15:05,42,42,2018-10-25 03:44:59+00:00,2018-10-25 04:00:04+00:00,2018-10-24 20:44:59-07:00,2,...,False,False,rented,POINT (-122.02842 36.97576),CBD,11798,15000US060871007002,1.557911e+06,1.520000,20

In [143]:
geodf['time_of_day'] = geodf['local_time_start'].dt.hour

In [191]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [160]:
geodf = geodf.dropna()

In [206]:
geodf = geodf[geodf.idle_time > datetime.timedelta()]

In [239]:
X = geodf[['batt_start', 'day_of_week', 'time_of_day', 'ZONING', 'pop_density']]

In [240]:
X = pd.get_dummies(X, columns=['ZONING'], prefix='zone')

In [241]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9186 entries, 58 to 11380
Data columns (total 34 columns):
batt_start      9186 non-null int64
day_of_week     9186 non-null int64
time_of_day     9186 non-null int64
pop_density     9186 non-null float64
zone_CB         9186 non-null uint8
zone_CBD        9186 non-null uint8
zone_CBD-E      9186 non-null uint8
zone_CC         9186 non-null uint8
zone_CD/R       9186 non-null uint8
zone_CN         9186 non-null uint8
zone_CT         9186 non-null uint8
zone_EA-20      9186 non-null uint8
zone_FP         9186 non-null uint8
zone_IG         9186 non-null uint8
zone_IG/PER     9186 non-null uint8
zone_IG/PER2    9186 non-null uint8
zone_OFR        9186 non-null uint8
zone_PA         9186 non-null uint8
zone_PF         9186 non-null uint8
zone_PF/PK      9186 non-null uint8
zone_PK         9186 non-null uint8
zone_PK/PF      9186 non-null uint8
zone_R-1-10     9186 non-null uint8
zone_R-1-5      9186 non-null uint8
zone_R-1-7      9186 non-null uint8
zone_RL         9186 non-null uint8
zone_RM         9186 non-null uint8
zone_RS-1A      9186 non-null uint8
zone_RTA        9186 non-null uint8
zone_RTB        9186 non-null uint8
zone_RTC        9186 non-null uint8
zone_RTD        9186 non-null uint8
zone_RTE        9186 non-null uint8
zone_out        9186 non-null uint8
dtypes: float64(1), int64(3), uint8(30)
memory usage: 627.9 KB

In [242]:
y = np.log(geodf['idle_time'].dt.seconds)

In [243]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [244]:
lrmodel = LinearRegression()

In [245]:
lrmodel.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [246]:
lrmodel.score(X_train, y_train)

0.09211748555771271

In [247]:
lrmodel.score(X_test, y_test)

0.08087484377537235

In [248]:
rfmodel = RandomForestRegressor()

In [249]:
rfmodel.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [250]:
rfmodel.score(X_train, y_train)

0.8330803397719494

In [251]:
rfmodel.score(X_test, y_test)

0.1087234189423757

In [253]:
geodf[geodf.people_per_house > 100]

,bike_id,lat,lon,idle_time,batt_start,batt_end,utc_time_start,utc_time_end,local_time_start,day_of_week,...,gets_pickedup_not_charged,in_charger,next_action,geolocation,ZONING,index_right,GEOID_Data,pop_density,people_per_house,time_of_day
108,bike_20632,36.99637,-122.05382,00:03:02,42,42,2018-10-30 22:33:10+00:00,2018-10-30 22:36:12+00:00,2018-10-30 15:33:10-07:00,1,...,False,False,rented,POINT (-122.05382 36.99637),PF,182,15000US060871004002,2.700568e+06,inf,15
201,bike_20634,36.99697,-122.05513,00:05:45,35,35,2018-10-26 18:49:46+00:00,2018-10-26 18:55:31+00:00,2018-10-26 11:49:46-07:00,4,...,False,False,rented,POINT (-122.05513 36.99697),PF,182,15000US060871004002,2.700568e+06,inf,11
397,bike_20641,36.99669,-122.05231,13:32:50,41,40,2018-10-28 04:03:27+00:00,2018-10-28 17:36:17+00:00,2018-10-27 21:03:27-07:00,5,...,False,False,rented,POINT (-122.05231 36.99669000000001),PF,182,15000US060871004002,2.700568e+06,inf,21
395,bike_20641,36.99519,-122.05502,01:22:30,36,36,2018-10-28 18:35:40+00:00,2018-10-28 19:58:10+00:00,2018-10-28 11:35:40-07:00,6,...,False,False,rented,POINT (-122.05502 36.99519),PF,182,15000US060871004002,2.700568e+06,inf,11
399,bike_20641,36.99700,-122.05324,00:56:42,31,31,2018-10-28 20:58:54+00:00,2018-10-28 21:55:36+00:00,2018-10-28 13:58:54-07:00,6,...,True,False,gets_relocated,POINT (-122.05324 36.997),PF,182,15000US060871004002,2.700568e+06,inf,13
770,bike_20649,36.99518,-122.05405,00:37:56,50,50,2018-10-23 18:28:40+00:00,2018-10-23 19:06:36+00:00,2018-10-23 11:28:40-07:00,1,...,False,False,rented,POINT (-122.05405 36.99518),PF,182,15000US060871004002,2.700568e+06,inf,11
1281,bike_20660,36.99518,-122.05453,00:03:01,56,56,2018-10-24 22:22:42+00:00,2018-10-24 22:25:43+00:00,2018-10-24 15:22:42-07:00,2,...,False,False,rented,POINT (-122.05453 36.99518),PF,182,15000US060871004002,2.700568e+06,inf,15
1661,bike_20771,36.99138,-122.05462,00:03:01,83,83,2018-10-23 20:37:05+00:00,2018-10-23 20:40:06+00:00,2018-10-23 13:37:05-07:00,1,...,False,False,rented,POINT (-122.05462 36.99138),PF,182,15000US060871004002,2.700568e+06,inf,13
1753,bike_20779,36.99640,-122.05380,00:06:08,56,56,2018-10-23 15:16:30+00:00,2018-10-23 15:22:38+00:00,2018-10-23 08:16:30-07:00,1,...,False,False,rented,POINT (-122.0538 36.9964),PF,182,15000US060871004002,2.700568e+06,inf,8
1981,bike_20785,36.99639,-122.05383,00:59:16,32,32,2018-10-23 15:16:30+00:00,2018-10-23 16:15:46+00:00,2018-10-23 08:16:30-07:00,1,...,False,False,rented,POINT (-122.05383 36.99639),PF,182,15000US060871004002,2.700568e+06,inf,8
1982,bike_20785,36.99641,-122.05389,00:54:20,31,31,2018-10-23 16:33:54+00:00,2018-10-23 17:28:14+00:00,2018-10-23 09:33:54-07:00,1,...,False,False,rented,POINT (-122.05389 36.99641),PF,182,15000US060871004002,2.700568e+06,inf,9
1979,bike_20785,36.99140,-122.05396,01:50:25,30,30,2018-10-23 17:34:15+00:00,2018-10-23 19:24:40+00:00,2018-10-23 10:34:15-07:00,1,...,False,False,rented,POINT (-122.05396 36.9914),PF,182,15000US060871004002,2.700568e+06,inf,10
1980,bike_20785,36.99622,-122.05183,00:46:34,75,75,2018-10-25 17:29:50+00:00,2018-10-25 18:16:24+00:00,2018-10-25 10:29:50-07:00,3,...,False,False,rented,POINT (-122.05183 36.99622),PF,182,15000US060871004002,2.700568e+06,inf,10
2445,bike_20797,36.99637,-122.05390,00:13:06,48,48,2018-10-30 22:23:06+00:00,2018-10-30 22:36:12+00:00,2018-10-30 15:23:06-07:00,1,...,False,False,rented,POINT (-122.0539 36.99637),PF,182,15000US060871004002,2.700568e+06,inf,15
2621,bike_20801,36.98663,-122.04824,09:39:32,36,36,2018-10-28 04:44:38+00:00,2018-10-28 14:24:10+00:00,2018-10-27 21:44:38-07:00,5,...,False,False,rented,POINT (-122.04824 36.98663),PK,182,15000US060871004002,2.700568e+06,inf,21
3037,bike_20842,36.99074,-122.05216,00:03:02,61,61,2018-10-23 19:59:51+00:00,2018-10-23 20:02:53+00:00,2018-10-23 12:59:51-07:00,1,...,False,False,rented,POINT (-122.05216 36.99074),PF,182,15000US060871004002,2.700568e+06,inf,12
3109,bike_20843,36.99797,-122.05178,01:17:28,30,30,2018-10-27 19:15:01+00:00,2018-10-27 20:32:29+00:00,2018-10-27 12:15:01-07:00,5,...,False,False,gets_pickedup_charged,POINT (-122.05178 36.99797),PF,182,15000US060871004002,2.700568e+06,inf,12
3154,bike_20844,36.99614,-122.05189,00:23:27,75,75,2018-10-26 01:30:00+00:00,2018-10-26 01:53:27+00:00,2018-10-25 18:30:00-07:00,3,...,False,False,rented,POINT (-122.05189 36.99614),PF,182,15000US060871004002,2.700568e+06,inf,18
3152,bike_20844,36.99374,-122.05456,00:08:11,28,28,2018-10-26 20:35:01+00:00,2018-10-26 20:43:12+00:00,2018-10-26 13:35:01-07:00,4,...,False,False,gets_pickedup_charged,POINT (-122.05456 36.99374),PF,182,15000US060871004002,2.700568e+06,inf,13
3265,bike_21174,36.99138,-122.05461,00:03:00,71,71,2018-10-23 20:38:05+00:00,2018-10-23 20:41:05+00:00,2018-10-23 13:38:05-07:00,1,...,False,False,rented,POINT (-122.05461 36.99138),PF,182,15000US060871004002,2.700568e+06,inf,13
3428,bike_21177,36.99044,-122.04901,00:17:42,42,42,2018-10-30 21:30:45+00:00,2018-10-30 21:48:27+00:00,2018-10-30 14:30:45-07:00,1,...,False,False,rented,POINT (-122.04901 36.99044),PK,182,15000US060871004002,2.700568e+06,inf,14
3756,bike_21184,36.99650,-122.05213,00:05:00,62,62,2018-10-25 06:32:55+00:00,2018-10-25 06:37:55+00:00,2018-10-24 23:32:55-07:00,2,...,False,False,rented,POINT (-122.05213 36.9965),PF,182,15000US060871004002,2.700568e+06,inf,23
3754,bike_21184,36.99623,-122.05476,01:14:15,38,38,2018-10-25 17:36:53+00:00,2018-10-25 18:51:08+00:00,2018-10-25 10:36:53-07:00,3,...,False,False,rented,POINT (-122.05476 36.99623),PF,182,15000US060871004002,2.700568e+06,inf,10
3805,bike_21185,36.99723,-122.05161,12:00:41,67,66,2018-10-27 03:41:08+00:00,2018-10-27 15:41:49+00:00,2018-10-26 20:41:08-07:00,4,...,False,False,rented,POINT (-122.05161 36.99723),PF,182,15000US060871004002,2.700568e+06,inf,20
3856,bike_21186,36.99719,-122.05156,07:48:10,65,65,2018-10-27 03:40:08+00:00,2018-10-27 11:28:18+00:00,2018-10-26 20:40:08-07:00,4,...,False,False,rented,POINT (-122.05156 36.99719),PF,182,15000US060871004002,2.700568e+06,inf,20
3857,bike_21186,36.99722,-122.05171,01:12:34,59,59,2018-10-27 15:13:39+00:00,2018-10-27 16:26:13+00:00,2018-10-27 08:13:39-07:00,5,...,True,False,gets_relocated,POINT (-122.05171 36.99722),PF,182,15000US060871004002,2.700568e+06,inf,8
3858,bike_21186,36.99726,-122.05171,01:05:02,59,62,2018-10-27 16:28:27+00:00,2018-10-27 17:33:29+00:00,2018-10-27 09:28:27-07:00,5,...,False,False,rented,POINT (-122.05171 36.99726),PF,182,15000US060871004002,2.700568e+06,inf,9
4127,bike_21191,36.99681,-122.05499,01:23:58,37,37,2018-10-23 17:31:15+00:00,2018-10-23 18:55:13+00:00,2018-10-23 10:31:15-07:00,1,...,False,False,rented,POINT (-122.05499 36.99681),PF,182,15000US060871004002,2.700568e+06,inf,10
4608,bike_21225,36.99519,-122.05459,00:03:02,59,59,2018-10-24 17:38:23+00:00,2018-10-24 17:41:25+00:00,2018-10-24 10:38:23-07:00,2,...,False,False,rented,POINT (-122.05459 36.99519),PF,182,15000US060871004002,2.700568e+06,inf,10
4655,bike_21270,36.99292,-122.05471,00:33:55,46,46,2018-10-25 02:22:41+00:00,2018-10-25 02:56:36+00:00,2018-10-24 19:22:41-07:00,2,...,False,False,rented,POINT (-122.05471 36.99292),PF,182,15000US060871004002,2.700568e+06,inf,19
4654,bike_21270,36.99166,-122.05391,05:48:40,66,65,2018-10-26 10:02:21+00:00,2018-10-26 15:51:01+00:00,2018-10-26 03:02:21-07:00,4,...,False,False,rented,POINT (-122.05391 36.99166),PF,182,15000US060871004002,2.700568e+06,inf,3
4658,bike_21270,36.99677,-122.05220,01:27:40,61,61,2018-10-26 16:00:04+00:00,2018-10-26 17:27:44+00:00,2018-10-26 09:00:04-07:00,4,...,True,False,gets_relocated,POINT (-122.0522 36.99677),PF,182,15000US060871004002,2.700568e+06,inf,9
4656,bike_21270,36.99320,-122.05218,00:18:36,61,61,2018-10-26 17:29:51+00:00,2018-10-26 17:48:27+00:00,2018-10-26 10:29:51-07:00,4,...,True,False,gets_relocated,POINT (-122.05218 36.9932),PF,182,15000US060871004002,2.700568e+06,inf,10
4657,bike_21270,36.99675,-122.05223,00:25:14,61,61,2018-10-26 17:58:31+00:00,2018-10-26 18:23:45+00:00,2018-10-26 10:58:31-07:00,4,...,False,False,rented,POINT (-122.05223 36.99675),PF,182,15000US060871004002,2.700568e+06,inf,10
4660,bike_21270,36.99768,-122.05140,00:14:15,57,57,2018-10-26 18:34:06+00:00,2018-10-26 18:48:21+00:00,2018-10-26 11:34:06-07:00,4,...,False,False,rented,POINT (-122.0514 36.99768),PF,182,15000US060871004002,2.700568e+06,inf,11
4738,bike_21272,36.99191,-122.05504,00:19:15,88,88,2018-11-01 17:29:11+00:00,2018-11-01 17:48:26+00:00,2018-11-01 10:29:11-07:00,3,...,False,False,gets_pickedup_charged,POINT (-122.05504 36.99191),PF,182,15000US060871004002,2.700568e+06,inf,10
5138,bike_21400,36.98814,-122.05422,01:20:20,27,27,2018-10-30 12:27:56+00:00,2018-10-30 13:48:16+00:00,2018-10-30 05:27:56-07:00,1,...,True,False,gets_relocated,POINT (-122.05422 36.98814),PF,182,15000US060871004002,2.700568e+06,inf,5
5142,bike_21400,36.98995,-122.05425,01:22:32,27,27,2018-10-30 13:58:27+00:00,2018-10-30 15:20:59+00:00,2018-10-30 06:58:27-07:00,1,...,True,False,gets_relocated,POINT (-122.05425 36.98995),PF,182,15000US060871004002,2.700568e+06,inf,6
5227,bike_21401,36.99686,-122.05532,00:10:07,46,46,2018-10-23 15:16:30+00:00,2018-10-23 15:26:37+00:00,2018-10-23 08:16:30-07:00,1,...,False,False,gets_pickedup_charged,POINT (-122.05532 36.99686),PF,182,15000US060871004002,2.700568e+06,inf,8
6498,bike_23278,36.99636,-122.05454,00:26:34,54,54,2018-10-25 20:48:19+00:00,2018-10-25 21:14:53+00:00,2018-10-25 13:48:19-07:00,3,...,False,False,rented,POINT (-122.05454 36.99636),PF,182,15000US060871004002,2.700568e+06,inf,13
7087,bike_23292,36.99516,-122.05448,00:04:01,38,38,2018-10-31 22:28:47+00:00,2018-10-31 22:32:48+00:00,2018-10-31 15:28:47-07:00,2,...,False,False,rented,POINT (-122.05448 36.99516),PF,182,15000US060871004002,2.700568e+06,inf,15
7086,bike_23292,36.99514,-122.05446,00:03:00,28,28,2018-10-31 22:51:11+00:00,2018-10-31 22:54:11+00:00,2018-10-31 15:51:11-07:00,2,...,False,False,rented,POINT (-122.05446 36.99514),PF,182,15000US060871004002,2.700568e+06,inf,15
7371,bike_23299,36.99372,-122.05453,00:07:22,56,56,2018-10-24 20:01:24+00:00,2018-10-24 20:08:46+00:00,2018-10-24 13:01:24-07:00,2,...,False,False,rented,POINT (-122.05453 36.99372),PF,182,15000US060871004002,2.700568e+06,inf,13
7955,bike_23312,36.99752,-122.05448,09:49:01,49,48,2018-10-28 08:22:29+00:00,2018-10-28 18:11:30+00:00,2018-10-28 01:22:29-07:00,6,...,False,False,rented,POINT (-122.05448 36.99752),PF,182,15000US060871004002,2.700568e+06,inf,1
8243,bike_23320,36.99622,-122.05181,00:41:26,76,76,2018-10-25 17:29:50+00:00,2018-10-25 18:11:16+00:00,2018-10-25 10:29:50-07:00,3,...,False,False,rented,POINT (-122.05181 36.99622),PF,182,15000US060871004002,2.700568e+06,inf,10
8533,bike_23326,36.99426,-122.05407,00:37:45,67,67,2018-10-30 21:31:11+00:00,2018-10-30 22:08:56+00:00,2018-10-30 14:31:11-07:00,1,...,True,False,gets_relocated,POINT (-122.05407 36.99426),PF,182,15000US060871004002,2.700568e+06,inf,14
8534,bike_23326,36.99429,-122.05403,00:01:01,67,67,2018-10-30 22:40:13+00:00,2018-10-30 22:41:14+00:00,2018-10-30 15:40:13-07:00,1,...,False,False,rented,POINT (-122.05403 36.99429),PF,182,15000US060871004002,2.700568e+06,inf,15
8567,bike_23327,36.99718,-122.05157,02:56:28,66,66,2018-10-27 03:41:08+00:00,2018-10-27 06:37:36+00:00,2018-10-26 20:41:08-07:00,4,...,False,False,rented,POINT (-122.05157 36.99718),PF,182,15000US060871004002,2.700568e+06,inf,20
8662,bike_23329,36.99222,-122.05289,00:58:22,62,62,2018-10-25 19:18:20+00:00,2018-10-25 20:16:42+00:00,2018-10-25 12:18:20-07:00,3,...,False,False,rented,POINT (-122.05289 36.99222),PF,182,15000US060871004002,2.700568e+06,inf,12
8771,bike_23333,36.99371,-122.05456,01:22:26,32,32,2018-10-23 15:16:30+00:00,2018-10-23 16:38:56+00:00,2018-10-23 08:16:30-07:00,1,...,False,False,rented,POINT (-122.05456 36.99371),PF,182,15000US060871004002,2.700568e+06,inf,8
8772,bike_23333,36.99671,-122.05499,00:02:02,74,74,2018-10-25 20:41:03+00:00,2018-10-25 20:43:05+00:00,2018-10-25 13:41:03-07:00,3,...,True,False,gets_relocated,POINT (-122.05499 36.99671),PF,182,15000US060871004002,2.700568e+06,inf,13
9201,bike_23341,36.99370,-122.05457,02:47:46,75,75,2018-10-28 19:14:53+00:00,2018-10-28 22:02:39+00:00,2018-10-28 12:14:53-07:00,6,...,False,False,rented,POINT (-122.05457 36.9937),PF,182,15000US060871004002,2.700568e+06,inf,12
9302,bike_23343,36.98707,-122.04846,10:53:24,75,74,2018-10-28 07:57:21+00:00,2018-10-28 18:50:45+00:00,2018-10-28 00:57:21-07:00,6,...,True,False,gets_relocated,POINT (-122.04846 36.98707000000001),PF,182,15000US060871004002,2.700568e+06,inf,0
9645,bike_23351,36.99767,-122.05434,00:13:13,31,31,2018-10-23 19:02:24+00:00,2018-10-23 19:15:37+00:00,2018-10-23 12:02:24-07:00,1,...,True,False,gets_relocated,POINT (-122.05434 36.99767),PF,182,15000US060871004002,2.700568e+06,inf,12
10641,bike_23375,36.99137,-122.05471,00:08:44,58,58,2018-10-25 00:06:25+00:00,2018-10-25 00:15:09+00:00,2018-10-24 17:06:25-07:00,2,...,False,False,rented,POINT (-122.05471 36.99137),PF,182,15000US060871004002,2.700568e+06,inf,17
11313,bike_23399,36.99604,-122.05240,01:50:14,47,47,2018-10-27 23:59:29+00:00,2018-10-28 01:49:43+00:00,2018-10-27 16:59:29-07:00,5,...,False,False,rented,POINT (-122.0524 36.99604000000001),PF,182,15000US060871004002,2.700568e+06,inf,16
11346,bike_26976,36.99605,-122.05232,01:25:23,55,55,2018-10-28 00:00:29+00:00,2018-10-28 01:25:52+00:00,2018-10-27 17:00:29-07:00,5,...,True,False,gets_relocated,POINT (-122.05232 36.99605),PF,182,15000US060871004002,2.700568e+06,inf,17
11345,bike_26976,36.99601,-122.05219,01:10:30,55,55,2018-10-28 01:49:43+00:00,2018-10-28 03:00:13+00:00,2018-10-27 18:49:43-07:00,5,...,False,False,rented,POINT (-122.05219 36.99601),PF,182,15000US060871004002,2.700568e+06,inf,18