In [1]:
import featurization
import helpers

import pandas as pd
import geopandas
import matplotlib.pyplot as plt

import contextily as ctx
from shapely.geometry import Point, Polygon

%load_ext autoreload
%autoreload 2

In [113]:
geodf = featurization.all_featurization("all-sc-bike-data-1101.csv")

In [114]:
geodf = featurization.add_zoning(geodf, 'Zoning')

In [115]:
geodf.head()

,bike_id,lat,lon,idle_time,batt_start,batt_end,utc_time_start,utc_time_end,local_time_start,day_of_week,gets_pickedup_charged,gets_pickedup_not_charged,in_charger,next_action,geolocation,ZONING
58,bike_20631,36.98725,-122.03416,00:47:18,94,94,2018-10-23 19:26:39+00:00,2018-10-23 20:13:57+00:00,2018-10-23 12:26:39-07:00,1,False,False,False,rented,POINT (-122.03416 36.98725),IG
59,bike_20631,36.98733,-122.03417,00:51:33,96,96,2018-10-23 20:28:01+00:00,2018-10-23 21:19:34+00:00,2018-10-23 13:28:01-07:00,1,False,False,False,rented,POINT (-122.03417 36.98733),IG
39,bike_20631,36.97425,-122.02437,00:05:13,93,93,2018-10-23 21:37:55+00:00,2018-10-23 21:43:08+00:00,2018-10-23 14:37:55-07:00,1,False,False,False,rented,POINT (-122.02437 36.97425),CBD
14,bike_20631,36.96690,-122.04056,02:13:47,49,49,2018-10-25 01:11:07+00:00,2018-10-25 03:24:54+00:00,2018-10-24 18:11:07-07:00,2,False,False,False,rented,POINT (-122.04056 36.9669),CC
43,bike_20631,36.97576,-122.02842,00:15:05,42,42,2018-10-25 03:44:59+00:00,2018-10-25 04:00:04+00:00,2018-10-24 20:44:59-07:00,2,False,False,False,rented,POINT (-122.02842 36.97576),CBD

In [105]:
import fiona
fiona.listlayers('ACS_2016_5YR_BG_06_CALIFORNIA.gdb')

['X00_COUNTS',
 'X01_AGE_AND_SEX',
 'X02_RACE',
 'X03_HISPANIC_OR_LATINO_ORIGIN',
 'X07_MIGRATION',
 'X08_COMMUTING',
 'X09_CHILDREN_HOUSEHOLD_RELATIONSHIP',
 'X11_HOUSEHOLD_FAMILY_SUBFAMILIES',
 'X12_MARITAL_STATUS_AND_HISTORY',
 'X14_SCHOOL_ENROLLMENT',
 'X15_EDUCATIONAL_ATTAINMENT',
 'X16_LANGUAGE_SPOKEN_AT_HOME',
 'X17_POVERTY',
 'X19_INCOME',
 'X20_EARNINGS',
 'X21_VETERAN_STATUS',
 'X22_FOOD_STAMPS',
 'X23_EMPLOYMENT_STATUS',
 'X24_INDUSTRY_OCCUPATION',
 'X25_HOUSING_CHARACTERISTICS',
 'X27_HEALTH_INSURANCE',
 'X99_IMPUTATION',
 'BG_METADATA_2016',
 'ACS_2016_5YR_BG_06_CALIFORNIA']

In [106]:
layers = fiona.listlayers('ACS_2016_5YR_BG_06_CALIFORNIA.gdb')

In [116]:
b = geopandas.read_file('tl_2016_06_bg')

In [117]:
b.crs = {'init':'epsg:4269'}

In [118]:
b.crs

{'init': 'epsg:4269'}

In [119]:
b.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,025,940000,3,060259400003,Block Group 3,G5030,S,12266417,680361,+32.7424027,-114.6675664,"POLYGON ((-114.726531 32.718236, -114.726392 3..."
1,06,025,010800,2,060250108002,Block Group 2,G5030,S,59331725,0,+32.7658550,-115.3923892,"POLYGON ((-115.430817 32.730903, -115.430817 3..."
2,06,025,010800,1,060250108001,Block Group 1,G5030,S,230656791,0,+32.8363463,-115.3514134,"POLYGON ((-115.457835 32.908953, -115.457726 3..."
3,06,025,011100,3,060250111003,Block Group 3,G5030,S,1209336,0,+32.7932442,-115.6903925,"POLYGON ((-115.701342 32.790854, -115.70091 32..."
4,06,073,010013,2,060730100132,Block Group 2,G5030,S,404606,0,+32.5564082,-117.0507980,"POLYGON ((-117.054301 32.555424, -117.054296 3..."

In [120]:
blockgroupdf = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer='ACS_2016_5YR_BG_06_CALIFORNIA')

In [112]:
# for l in layers:
#     blockgroupdf = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer=l)
#     print(l)
#     print (blockgroupdf.columns)

X00_COUNTS
Index(['GEOID', 'B00001e1', 'B00001m1', 'B00002e1', 'B00002m1', 'geometry'], dtype='object')
X01_AGE_AND_SEX
Index(['GEOID', 'B01001e1', 'B01001m1', 'B01001e2', 'B01001m2', 'B01001e3',
       'B01001m3', 'B01001e4', 'B01001m4', 'B01001e5',
       ...
       'B01002Hm3', 'B01002Ie1', 'B01002Im1', 'B01002Ie2', 'B01002Im2',
       'B01002Ie3', 'B01002Im3', 'B01003e1', 'B01003m1', 'geometry'],
      dtype='object', length=162)
X02_RACE
Index(['GEOID', 'B02001e1', 'B02001m1', 'B02001e2', 'B02001m2', 'B02001e3',
       'B02001m3', 'B02001e4', 'B02001m4', 'B02001e5', 'B02001m5', 'B02001e6',
       'B02001m6', 'B02001e7', 'B02001m7', 'B02001e8', 'B02001m8', 'B02001e9',
       'B02001m9', 'B02001e10', 'B02001m10', 'B02008e1', 'B02008m1',
       'B02009e1', 'B02009m1', 'B02010e1', 'B02010m1', 'B02011e1', 'B02011m1',
       'B02012e1', 'B02012m1', 'B02013e1', 'B02013m1', 'C02003e1', 'C02003m1',
       'C02003e2', 'C02003m2', 'C02003e3', 'C02003m3', 'C02003e4', 'C02003m4',
       'C02003e5', 'C02003m5', 'C02003e6', 'C02003m6', 'C02003e7', 'C02003m7',
       'C02003e8', 'C02003m8', 'C02003e9', 'C02003m9', 'C02003e10',
       'C02003m10', 'C02003e11', 'C02003m11', 'C02003e12', 'C02003m12',
       'C02003e13', 'C02003m13', 'C02003e14', 'C02003m14', 'C02003e15',
       'C02003m15', 'C02003e16', 'C02003m16', 'C02003e17', 'C02003m17',
       'C02003e18', 'C02003m18', 'C02003e19', 'C02003m19', 'geometry'],
      dtype='object')
X03_HISPANIC_OR_LATINO_ORIGIN
Index(['GEOID', 'B03002e1', 'B03002m1', 'B03002e2', 'B03002m2', 'B03002e3',
       'B03002m3', 'B03002e4', 'B03002m4', 'B03002e5', 'B03002m5', 'B03002e6',
       'B03002m6', 'B03002e7', 'B03002m7', 'B03002e8', 'B03002m8', 'B03002e9',
       'B03002m9', 'B03002e10', 'B03002m10', 'B03002e11', 'B03002m11',
       'B03002e12', 'B03002m12', 'B03002e13', 'B03002m13', 'B03002e14',
       'B03002m14', 'B03002e15', 'B03002m15', 'B03002e16', 'B03002m16',
       'B03002e17', 'B03002m17', 'B03002e18', 'B03002m18', 'B03002e19',
       'B03002m19', 'B03002e20', 'B03002m20', 'B03002e21', 'B03002m21',
       'B03003e1', 'B03003m1', 'B03003e2', 'B03003m2', 'B03003e3', 'B03003m3',
       'geometry'],
      dtype='object')
X07_MIGRATION
Index(['GEOID', 'B07201e1', 'B07201m1', 'B07201e2', 'B07201m2', 'B07201e3',
       'B07201m3', 'B07201e4', 'B07201m4', 'B07201e5',
       ...
       'B07203PRm4', 'B07203PRe5', 'B07203PRm5', 'B07203PRe6', 'B07203PRm6',
       'B07203PRe7', 'B07203PRm7', 'B07203PRe8', 'B07203PRm8', 'geometry'],
      dtype='object', length=162)
X08_COMMUTING
Index(['GEOID', 'B08007e1', 'B08007m1', 'B08007e2', 'B08007m2', 'B08007e3',
       'B08007m3', 'B08007e4', 'B08007m4', 'B08007e5',
       ...
       'B08303m9', 'B08303e10', 'B08303m10', 'B08303e11', 'B08303m11',
       'B08303e12', 'B08303m12', 'B08303e13', 'B08303m13', 'geometry'],
      dtype='object', length=582)
X09_CHILDREN_HOUSEHOLD_RELATIONSHIP
Index(['GEOID', 'B09002e1', 'B09002m1', 'B09002e2', 'B09002m2', 'B09002e3',
       'B09002m3', 'B09002e4', 'B09002m4', 'B09002e5',
       ...
       'B09021m24', 'B09021e25', 'B09021m25', 'B09021e26', 'B09021m26',
       'B09021e27', 'B09021m27', 'B09021e28', 'B09021m28', 'geometry'],
      dtype='object', length=232)
X11_HOUSEHOLD_FAMILY_SUBFAMILIES
Index(['GEOID', 'B11001e1', 'B11001m1', 'B11001e2', 'B11001m2', 'B11001e3',
       'B11001m3', 'B11001e4', 'B11001m4', 'B11001e5',
       ...
       'B11016m12', 'B11016e13', 'B11016m13', 'B11016e14', 'B11016m14',
       'B11016e15', 'B11016m15', 'B11016e16', 'B11016m16', 'geometry'],
      dtype='object', length=630)
X12_MARITAL_STATUS_AND_HISTORY
Index(['GEOID', 'B12001e1', 'B12001m1', 'B12001e2', 'B12001m2', 'B12001e3',
       'B12001m3', 'B12001e4', 'B12001m4', 'B12001e5', 'B12001m5', 'B12001e6',
       'B12001m6', 'B12001e7', 'B12001m7', 'B12001e8', 'B12001m8', 'B12001e9',
       'B12001m9', 'B12001e10', 'B12001m10', 'B12001e11', 'B12001m11',
       'B12001e12', 'B12001m12', 'B12001e13', 'B12001m13', 'B12001e14',
       'B12001m14', 'B12001e15', 'B12001m15', 'B12001e16', 'B12001m16',
       'B12001e17', 'B12001m17', 'B12001e18', 'B12001m18', 'B12001e19',
       'B12001m19', 'geometry'],
      dtype='object')
X14_SCHOOL_ENROLLMENT
Index(['GEOID', 'B14002e1', 'B14002m1', 'B14002e2', 'B14002m2', 'B14002e3',
       'B14002m3', 'B14002e4', 'B14002m4', 'B14002e5',
       ...
       'B14007Im15', 'B14007Ie16', 'B14007Im16', 'B14007Ie17', 'B14007Im17',
       'B14007Ie18', 'B14007Im18', 'B14007Ie19', 'B14007Im19', 'geometry'],
      dtype='object', length=538)

KeyboardInterrupt:

In [121]:
blockgroup_pop = geopandas.read_file('ACS_2016_5YR_BG_06_CALIFORNIA.gdb', driver='FileGDB', layer='X00_COUNTS')

In [140]:
len(blockgroupdf.GEOID_Data.unique())

23212

In [123]:
blockgroup_pop.rename({'GEOID':'GEOID_Data'}, axis=1, inplace=True)

In [124]:
blockgroup_pop.head()

            GEOID_Data  B00001e1  B00001m1  B00002e1  B00002m1 geometry
0  15000US060014001001     324.0      -1.0     144.0      -1.0     None
1  15000US060014002001     184.0      -1.0      78.0      -1.0     None
2  15000US060014002002     138.0      -1.0      66.0      -1.0     None
3  15000US060014003001      69.0      -1.0      29.0      -1.0     None
4  15000US060014003002      89.0      -1.0      42.0      -1.0     None

In [125]:
b2 = b.merge(blockgroupdf[['GEOID', 'Shape_Area', 'GEOID_Data']], on="GEOID")

In [126]:
blockgroupdf = b2.merge(blockgroup_pop, on='GEOID_Data')

In [127]:
#blockgroupdf.drop(['B00001m1', 'B00002m1', 'geometry_y'], axis = 1, inplace=True)

In [128]:
blockgroupdf['pop_density'] = blockgroupdf['B00001e1']/blockgroupdf['Shape_Area']

In [129]:
blockgroupdf['people_per_house'] = blockgroupdf['B00001e1']/blockgroupdf['B00002e1']

In [130]:
blockgroupdf.crs

{'init': 'epsg:4269'}

In [131]:
blockgroupdf_features = blockgroupdf[['GEOID_Data', 'geometry_x', 'pop_density', 'people_per_house']]

In [132]:
blockgroupdf_features = geopandas.GeoDataFrame(blockgroupdf_features, geometry = 'geometry_x', crs={'init': 'epsg:4269'})

In [133]:
blockgroupdf_features.crs

{'init': 'epsg:4269'}

In [134]:
blockgroupdf_features = blockgroupdf_features.to_crs(epsg='4326')

In [135]:
geodf.crs

{'init': 'epsg:4326', 'no_defs': True}

In [136]:
geodf = geopandas.sjoin(geodf, blockgroupdf_features, how="left")

In [144]:
geodf.head()

,bike_id,lat,lon,idle_time,batt_start,batt_end,utc_time_start,utc_time_end,local_time_start,day_of_week,...,gets_pickedup_not_charged,in_charger,next_action,geolocation,ZONING,index_right,GEOID_Data,pop_density,people_per_house,time_of_day
58,bike_20631,36.98725,-122.03416,00:47:18,94,94,2018-10-23 19:26:39+00:00,2018-10-23 20:13:57+00:00,2018-10-23 12:26:39-07:00,1,...,False,False,rented,POINT (-122.03416 36.98725),IG,22602,15000US060871003001,3.369729e+05,3.000000,12
59,bike_20631,36.98733,-122.03417,00:51:33,96,96,2018-10-23 20:28:01+00:00,2018-10-23 21:19:34+00:00,2018-10-23 13:28:01-07:00,1,...,False,False,rented,POINT (-122.03417 36.98733),IG,22602,15000US060871003001,3.369729e+05,3.000000,13
39,bike_20631,36.97425,-122.02437,00:05:13,93,93,2018-10-23 21:37:55+00:00,2018-10-23 21:43:08+00:00,2018-10-23 14:37:55-07:00,1,...,False,False,rented,POINT (-122.02437 36.97425),CBD,11798,15000US060871007002,1.557911e+06,1.520000,14
14,bike_20631,36.96690,-122.04056,02:13:47,49,49,2018-10-25 01:11:07+00:00,2018-10-25 03:24:54+00:00,2018-10-24 18:11:07-07:00,2,...,False,False,rented,POINT (-122.04056 36.9669),CC,11788,15000US060871006001,2.925184e+06,2.518519,18
43,bike_20631,36.97576,-122.02842,00:15:05,42,42,2018-10-25 03:44:59+00:00,2018-10-25 04:00:04+00:00,2018-10-24 20:44:59-07:00,2,...,False,False,rented,POINT (-122.02842 36.97576),CBD,11798,15000US060871007002,1.557911e+06,1.520000,20

In [143]:
geodf['time_of_day'] = geodf['local_time_start'].dt.hour

In [168]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [160]:
geodf = geodf.dropna()

In [171]:
X = geodf[['batt_start', 'day_of_week', 'time_of_day', 'ZONING']]  #, 'pop_density', 'people_per_house']]

In [172]:
X = pd.get_dummies(X, columns=['ZONING'], prefix='zone')

In [173]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10480 entries, 58 to 11380
Data columns (total 35 columns):
batt_start      10480 non-null int64
day_of_week     10480 non-null int64
time_of_day     10480 non-null int64
zone_CB         10480 non-null uint8
zone_CBD        10480 non-null uint8
zone_CBD-E      10480 non-null uint8
zone_CC         10480 non-null uint8
zone_CD/R       10480 non-null uint8
zone_CN         10480 non-null uint8
zone_CT         10480 non-null uint8
zone_EA-20      10480 non-null uint8
zone_FP         10480 non-null uint8
zone_IG         10480 non-null uint8
zone_IG/PER     10480 non-null uint8
zone_IG/PER2    10480 non-null uint8
zone_OFR        10480 non-null uint8
zone_PA         10480 non-null uint8
zone_PF         10480 non-null uint8
zone_PF/PK      10480 non-null uint8
zone_PK         10480 non-null uint8
zone_PK/PF      10480 non-null uint8
zone_R-1-10     10480 non-null uint8
zone_R-1-5      10480 non-null uint8
zone_R-1-7      10480 non-null uint8
zone_RH         10480 non-null uint8
zone_RL         10480 non-null uint8
zone_RM         10480 non-null uint8
zone_RS-1A      10480 non-null uint8
zone_RS-2A      10480 non-null uint8
zone_RTA        10480 non-null uint8
zone_RTB        10480 non-null uint8
zone_RTC        10480 non-null uint8
zone_RTD        10480 non-null uint8
zone_RTE        10480 non-null uint8
zone_out        10480 non-null uint8
dtypes: int64(3), uint8(32)
memory usage: 655.0 KB

In [181]:
y = geodf['idle_time'].dt.seconds

In [182]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [183]:
lrmodel = LinearRegression()

In [184]:
lrmodel.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [185]:
lrmodel.score(X_train, y_train)

0.06039331840904627

In [188]:
gbmodel = GradientBoostingClassifier(min_samples_split=10)

In [ ]:
gbmodel.fit(X_train, y_train)

gbmodel.score(X_train, y_train)